<div class="registration-page-div">
  <div class="title"> Регистрация </div>
  <div *ngIf="error401">Неверно введены данные</div>
  <div *ngIf="error400">{{error400}}</div>
  <div *ngIf="error">Ошибка на сервере</div>
  <input type="text" placeholder="Введите имя.." [(ngModel)]="username"/>
  <input type="text" placeholder="Введите email.." [(ngModel)]="email"/>
  <input type="password" placeholder="Введите пароль.." [(ngModel)]="password"/>
  <input type="password" placeholder="Повторите пароль.." [(ngModel)]="repeatPassword"/>
  <button (click)="onRegister()"> Войти </button>
  <a routerLink="/login"> Уже зарегистрированы? </a>
</div>
