<div class="search-page-div" *ngIf="!error">
  <app-filters [filters]="params" (initSearch)="doSearch($event)"> </app-filters>
  <div class="film-cards-list" *ngIf="films.length > 0">
    <app-film-card *ngFor="let film of films" [film]="film"></app-film-card>
  <div class="film-cards-list" *ngIf="!films || films.length == 0">
    <div class="title"> Извините, по вашему запросу ничего не найдено</div>
  </div>

</div>

<div class="error" *ngIf="error">
  Произошла ошибка! Не удается получить данные! Повторите попытку позднее.
</div>
