<div class="film-card">
  <div class="film-card-image">
    <img alt="film-image"/>
  </div>
  <div class="film-card-info">
    <div class="title">
      Матрица
    </div>
    <div class="film-attributes">
      <div class="film-attribute">
        Жанры: ваыаы, вавы, ваыв, ваыва
      </div>
      <div class="film-attribute">
        Жанры: ваыаы, вавы, ваыв, ваыва
      </div>
      <div class="film-attribute">
        Жанры: ваыаы, вавы, ваыв, ваыва
      </div>
      <div class="film-attribute">
        Жанры: ваыаы, вавы, ваыв, ваыва
      </div>
      <div class="film-attribute">
        Жанры: ваыаы, вавы, ваыв, ваыва
      </div>
    </div>
  </div>
</div>
